// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th { text-align: left; background: #eee; }

td { vertical-align: top; }

table { border: 1px solid #999; border-collapse: collapse; }

.website_list { margin: 0px; padding: 0px; }
