<div class="info_block">
	<% if @pids.kind_of?(Array) %>
		<div>
			<strong><%= total_num_brands %> | <%= total_num_posts %></strong>	
		</div>
		<% @pids.each do |d| %>
		<ul>
			<%= content_tag :li, "#{d.brand_id}: #{d.post_id}" %>
		</ul>
		<% end %>
	<% else %>
		<%= @pids %>
	<% end %>
</div>